<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/ecamsite.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Bienvenue sur l'ECAM Student's Academy</h1>
            <h3>Commence à partager tes connaissances avec les autres étudiants.</h3>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Comment ça marche ? </h2>
                <h5 class="description">La plateforme permet aux étudiants de partager leurs connaissances. Ici, deux règles sont de rigueur:
                    <br/> 1. On troc des connaissances sur un cours contre un autre cours. 
                    <br/> 2. C'est totalement gratuit pour les étudiants. 
                    Tu es bon en anglais mais à besoin d'aide en math ?  <br/> Tu n'as pas les moyens de te payer des cours particuliers dans cette crise ? <br/>
                    Trouve un étudiant qui possède les compétences inverses et échanger vos connaissances. <br/>
                    Simple non ? Veux-tu rejoindres l'aventure ? 
                </h5>
                <br>
                <a href="#paper-kit" class="btn btn-info btn-round">Je commence ! </a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">1. Inscription</h4>
                        <p class="description">Inscris-toi sur la plateforme et fais tes propositions d'échanges.</p>
                        <a href="#pkp" class="btn btn-link btn-info">S'inscrire</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-check-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">2. Trouve un match.</h4>
                        <p>La plateforme te proposera automatiquement des matchs adaptés à tes propositions.</p>
                        <a href="#pkp" class="btn btn-link btn-info">Voir les propositions.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-chat-33"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">3. Partage</h4>
                        <p>Mettez-vous d'accord sur le nombre d'heures que vous vous accordez et travaillez ensemble à votre réussite.</p>
                        <a href="#pkp" class="btn btn-link btn-info">Voir les propositions.</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">4. Réussis</h4>
                        <p>Le but est de s'entraider et de permettre à un maximum d'entre nous de sortir de la solitude et réussir malgré la situation.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Une question?</h2>
                    <h4 class="text-center">N'hésite pas à nous écrire.</h4>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
